<%= form_for @tweet, url: object do |f| %>
    <%= render 'shared/error', object: @tweet %>
    <p>
        <%= f.label :message, '内容' %>
        <%= f.text_field :message, size: 20%>
    </p>
    <p>
        <%= f.label :image, '画像' %>
        <%= f.file_field :image %>
    </p>
    <%= f.hidden_field :tdate %>
    <%= f.submit 'ツイートする' %>
<% end %>