<div class=form>
    <div class=form-left>
        <%= image_tag 'user-solid.svg', size: '25x25' %>
    </div>
    <div class=form-right>
        <%= form_for @tweet, url: object do |f| %>
            <%= render 'shared/error', object: @tweet %>
            <div class=form-message>
                <div><%= f.text_area :message, maxlength: '140', placeholder: 'いまどうしてる？', value: @tweet.message, size: "90x10"%></div>
            </div>
            <div class=form-bottom>
                 <div class=form-image>
                    <label>
                        <%= image_tag 'image.svg', size: '25x25' %>
                        <div><%= f.file_field :image %></div>
                    </label>
                </div>
                
                <%= f.hidden_field :tdate %>
                
                <div class=form-button>
                    <%= f.submit 'ツイートする' %>
                </div>
            </div>
        <% end %>
    </div>
</div>