<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div id="container">
      <div id="sidebar">
        <%= render "layouts/sidebar" %>
      </div>
      <div id="header">
        <%= render "layouts/header" %>
      </div>
      <div id="flash">
          <% if flash[:notice] %>
              <p><%= flash[:notice] %></p>
          <% end %>
        </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer">
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
